.navbar,
.navBox,
.navList {
  width: 100%;
}
.brand {
  color: #fff;
}
.navList {
  margin-top: 20vh;
}
.navBox {
  margin: 10px;
}
.navLink {
  padding: 40px;
  padding-top: 60px;
  background-color: #fff;
  border-radius: 70px;
}
